@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* colors: 
    primary: #c4e9ec
    secondary: #2d3480
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", "Poppins", sans-serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header .top {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0 20px 0 20px;
}

header .top .left {
    display: flex;
    align-items: center;
}

header .top .left a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: 0.5s ease;
}

header .top .left a:hover {
    transform: scale(1.1);
}

header .top .left a i {
    margin-right: 0.2rem;
    color: #38a3a5;
}

header .top .left a p {
    font-family: "Lato", sans-serif;
    font-size: 0.8rem;
    display: inline-block;
    margin-right: 1rem;
}

header .top .right a {
    display: inline-block;
    text-decoration: none;
}

header .top .right a i {
    transition: 0.5s ease;
}

header .top .right a i:hover {
    color: #2d3480;

    transform: scale(1.3);
}

header .top .right a i {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    color: #38a3a5;
}

.top-hr {
    margin: 0 30px 0 30px;
    border: 1px solid gray;
}

.nav_img {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-52%);
    width: 120px;

    z-index: 100;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 1ms;
}

.nav {
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 150px;
    width: 100%;
    transition: top 0.3s ease;
}

.nav .left ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    gap: 60px;
    align-items: center;
}

.nav .right ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 60px;
    align-items: center;
}

.nav .left ul li,
.nav .right ul li {
    margin: 1rem auto;
}

.nav .left ul li a,
.nav .right ul li a {
    text-decoration: none;
    color: #000;
    font-family: "Lato", sans-serif;
    display: inline-block;
    transition: 0.5s ease;
}

.nav .left ul li a:hover,
.nav .right ul li a:hover {
    color: #38a3a5;
    transform: translateY(-2px);
    transform: scale(1.1);
}

.scrollmenu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: fixed;
    top: 0;
    z-index: 98;
}

.scroll {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    /* border-bottom: 1px solid gray; */
}

.scroll img {
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
    border-radius: 50%;
    transform: translateY(+40%);
    transition: transform 1s ease;
}

.scroll img:hover {
    border: 1px solid #38a3a5;
    cursor: pointer;
}

.scroll ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.scroll ul li {
    /* margin: 1rem 2rem; */
    padding: 1rem 1rem;
}

.scroll ul li a {
    text-decoration: none;
    color: #000;
    font-family: "Lato", sans-serif;
}

.scroll ul li a:hover {
    color: #38a3a5;
    cursor: pointer;
}

.scroll .foglalok {
    height: 100%;
    background-color: #38a3a5;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.scroll .foglalok a {
    text-decoration: none;
    color: #fff;
    font-family: "Lato", sans-serif;
}

.scroll .foglalok:hover a {
    color: black;
}

#sideNav {
    width: 200px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background-color: rgba(56, 163, 165, 0.9);
    z-index: 69;
    transition: 0.5s;
}

#sideNav nav ul li {
    list-style: none;
    margin: 50px 20px;
    padding-left: 20px;
}

#sideNav nav ul li:first-child {
    margin-top: 60px;
}

#sideNav nav ul li a {
    text-decoration: none;
    color: #fff;
}

#menuBtn {
    display: none;
    width: 50px;
    height: 50px;

    background-color: rgba(56, 163, 165, 0.9);

    text-align: center;
    position: fixed;
    right: 20px;
    top: 20px;
    border: 3px;
    z-index: 70;
    cursor: pointer;
    border-radius: 5px;
}

#menuBtn img {
    width: 20px;
    margin-top: 15px;
}

.left-logo {
    display: none;
}

.left-logo img {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 10%;
    border-radius: 50%;
    z-index: 70;
}

/* Main */
.main {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(56, 163, 165)),
        url(images/try_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main .title h1 {
    font-family: "Lora", sarif;
    color: #fff;
    font-size: 5.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.main .title p {
    font-family: "Lora", sarif;
    color: #fff;
    font-size: 1.5rem;
}

.main .title .main-btns {
    margin: 6rem auto;
    /* position: absolute;
    bottom: 2rem; */
}

.main-btn {
    width: 11rem; /* Azonos szélesség: 10rem ≈ 160px (16px * 10) */
    height: 3.5rem; /* Azonos magasság: 3rem ≈ 48px */
    font-size: 1rem; /* Betűméret: 1rem ≈ 16px */
    padding: 0.625rem 1.25rem; /* Padding: ≈10px felül/alul, ≈20px jobbra/balra */
    background: none; /* Gomb háttérszíne */
    color: white; /* Gomb szövegének színe */
    border: 1px solid #fff; /* Nincs szegély */
    border-radius: 0.3125rem; /* Lekerekített sarkok: ≈5px */
    cursor: pointer; /* Mutató az egérrel a gomb fölé mozogva */
    transition: 0.5s ease; /* Színváltás animáció */
    margin-right: 1rem;
}

.main-btn:hover {
    background-color: #38a3a5; /* Hover állapotban változó háttérszín */
    transform: translateY(-7px);
}

/* About section */

#about {
    background-color: #38a3a5;
    min-height: 100vh;

    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-text h2 {
    font-family: "Lora", sarif;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.about-box {
    width: 90%;
    margin: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-wrap: wrap; */
    text-align: center;
}

.about {
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-img {
}

.about-img img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.about h2 {
    font-family: "Lora", sarif;
    text-align: left;
    margin-bottom: 0.8rem;
    font-size: 2rem;
    font-weight: 200;
    color: #fff;
}

.about-text p {
    color: #fff;
    padding: 0 20px;
    text-align: initial;
    margin-bottom: 2rem;
}

.about-btns {
    text-align: left;
    margin-left: 2rem;
}

.about-btn {
    width: 9rem; /* Azonos szélesség: 10rem ≈ 160px (16px * 10) */
    height: 3rem; /* Azonos magasság: 3rem ≈ 48px */
    font-size: 0.8rem; /* Betűméret: 1rem ≈ 16px */
    padding: 0.625rem 1.25rem; /* Padding: ≈10px felül/alul, ≈20px jobbra/balra */
    background: none; /* Gomb háttérszíne */
    color: white; /* Gomb szövegének színe */
    border: 1px solid #fff; /* Nincs szegély */
    border-radius: 0.3125rem; /* Lekerekített sarkok: ≈5px */
    cursor: pointer; /* Mutató az egérrel a gomb fölé mozogva */
    transition: 0.5s ease; /* Színváltás animáció */
    margin-right: 1rem;
}

.about-btn:hover {
    background-color: #fff;
    color: #38a3a5;
    transform: translateY(-7px);
}

/* Apartmanok */

.hide-img {
    display: none;
}

#apartman {
    width: 90%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#apartman h1 {
    font-family: "Lora", sarif;
    text-align: left;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #38a3a5;
    text-align: center;
    padding-top: 2rem;
}

.apartman-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.5s ease;
    margin-bottom: 2rem;
}

.apartman-card {
    display: flex;
    flex-direction: column;
    width: 17rem;
    transition: 1ms;
    /* margin: 1rem 1rem; */
    transition: 0.5s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.apartman-card:hover {
    transform: translateY(-10px);
}

.card-top a {
    text-decoration: none;
    transition: 0.5s ease;
}

.card-top img {
    display: block;
    width: 100%;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    object-fit: cover;
}

.card-top a:hover {
    cursor: zoom-in;
}

.card-top {
    flex: 2;
}

.card-bottom {
    flex: 1;
    border: 1px solid #38a3a5;
    border-top: none;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    height: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 10px 10px;
    text-align: center;
    font-size: 0.8rem;
    color: #38a3a5;
}

.apartman-btns {
    margin: 1rem auto;
}

.apartman-btn {
    width: 9rem; /* Azonos szélesség: 10rem ≈ 160px (16px * 10) */
    height: 3rem; /* Azonos magasság: 3rem ≈ 48px */
    font-size: 0.8rem; /* Betűméret: 1rem ≈ 16px */
    padding: 0.625rem 1.25rem; /* Padding: ≈10px felül/alul, ≈20px jobbra/balra */
    background: none; /* Gomb háttérszíne */
    color: #38a3a5; /* Gomb szövegének színe */
    border: 1px solid #38a3a5; /* Nincs szegély */
    border-radius: 0.3125rem; /* Lekerekített sarkok: ≈5px */
    cursor: pointer; /* Mutató az egérrel a gomb fölé mozogva */
    transition: 0.5s ease; /* Színváltás animáció */
    /* margin-right: 1rem; */
}

.apartman-btn:hover {
    background-color: #38a3a5;
    color: #fff;
    transform: translateY(-7px);
}

/* Offers */

#offers {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#offers h1 {
    font-size: 2rem;
    color: #38a3a5;
}

.offers-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-card {
    margin: 1rem;
    /* width: 100%; */
    /* border: 1px solid #38a3a5; */

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.offer-card .top {
    position: relative;
}

.offer-card .top .top-img {
    position: relative;
}

.offer-card .top img {
    width: 100%;
}

.offer-card .top .price {
    font-size: 1rem;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    padding: 1rem;
    color: #fff;
    background-color: #38a3a5;
    text-align: center;
}

.offer-card .top .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #38a3a5;
    transition: opacity 0.5s ease;
}

.offer-card .top .overlay h3,
p {
    text-align: center;
}

.offer-card:hover .overlay {
    opacity: 1;
    border: 1px solid #38a3a5;
}

.offer-card:hover .bottom h2 {
    background-color: #38a3a5;
    color: #fff;
}

.offer-card .bottom h2 {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    color: #38a3a5;
    transition: 0.5s ease;
}

.offers-container > p {
    font-size: 1rem;
    color: #38a3a5;
}

.slider {
    position: relative;
    width: 100%;
    height: 540px;
    overflow: hidden;
    padding: 1rem;
}
.item {
    position: absolute;
    width: 600px;
    transition: 0.5s;
    left: calc(50% - 320px);
    top: 5%;
}
#next,
#prev {
    position: absolute;
    top: 50%;
    color: #38a3a5;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bold;
    left: 60px;
    z-index: 80;
    cursor: pointer;
}
#next {
    left: unset;
    right: 60px;
}

.offer-btns {
    margin: 1rem auto;
}

/* Prices */

#price {
    min-height: 100vh;
    background-color: #38a3a5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.price-container {
    width: 60%;
    /* margin:60px 10px auto; */
    padding: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
}

.date {
    font-size: 0.7rem;
}

table {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
}

th {
    font-size: 1.1rem;
}

th,
td {
    padding: 10px 20px;
    color: #fff;
}

.price-container p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.price-container p a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.payments {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 40px;
}

.payments img {
    width: 60px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 0 10px;
}

.payments img:hover {
    transform: scale(1.4);
}

/* Partners */

#partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100%;
}

#partners h2 {
    color: #38a3a5;
    margin: 2rem auto;
}

.partners-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.partners-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.5s;
}

.partners-container a:hover img {
    transform: scale(1.3);
}

/* Footer section */

#connect {
    padding: 40px 0 20px;
    background: #2a2a2a;
    position: relative;
}

#connect .foglalas {
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

#connect .foglalas h2 {
    font-size: 40px;
}

/* Footer */

.footer-row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-left {
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-left a {
    text-decoration: none;
    color: #fff;
}

.footer-right {
    text-align: right;
}

.footer-row h3 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 35px;
}

.footer-left .fa,
.footer-right .fa {
    font-size: 1rem;
    color: #38a3a5;
    margin-right: 1rem;
}

iframe {
    width: 60%;
    height: 100%;
}

.social-links {
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.social-links .fa-brands {
    height: 40px;
    width: 40px;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.5s;
}

.social-links .fa-brands:hover {
    background-color: #38a3a5;
    color: #fff;
    transform: translateY(-7px);
}

.social-links p {
    font-size: 12px;
    margin-top: 20px;
    color: #fff;
}

#connect > p {
    color: #fff;
    padding: 1rem;
}

/* Animation */

@keyframes appear {
    from {
        opacity: 0.5;
        /* transform: translateX(-100px); */
        scale: 0.2;
    }
    to {
        opacity: 1;
        /* transform: translateX(0px); */
        scale: 1;
    }
}

.animated {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Media quarry */

@media only screen and (max-width: 600px) {
    header {
        display: none;
    }

    .scroll {
        display: none;
    }

    #menuBtn,
    .left-logo {
        display: block;
    }

    .main {
        min-height: auto;
    }

    .main .title {
        justify-content: space-between;
    }

    .main .title h1 {
        font-size: 2.5rem;
    }

    .main .title p {
        font-size: 1rem;
    }

    .main .title .main-btns {
        margin: 2rem auto;
    }

    .main-btn {
        width: 8rem;
        height: 3rem;
        font-size: 0.8rem;
    }

    #about {
        padding-top: 0;
        margin-top: 0;
        height: 100%;
    }

    .about-box {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .title-text h2 {
        font-size: 1.5rem;
    }

    .about-text p {
        font-size: 0.8rem;
    }

    .about-img {
        display: none;
    }

    .about-btns {
        text-align: center;
        margin: 0;
    }

    .apartman-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .thumb:nth-child(1),
    .thumb:nth-child(2),
    .thumb:nth-child(3),
    .thumb:nth-child(4) {
        display: none;
    }

    .slider {
        height: 460px;
    }

    #offers {
        min-height: auto;
    }

    .offer-card .top .overlay {
        font-size: 0.7rem;
    }

    .offer-card .top .overlay p {
        width: 70%;
    }

    .item {
        position: absolute;
        width: 480px;
        transition: 0.5s;
        left: calc(50% - 240px);
        top: 5%;
    }

    #next,
    #prev {
        position: absolute;
        top: 40%;
        color: #38a3a5;
        background-color: transparent;
        border: none;
        font-size: xxx-large;

        font-weight: bold;
        left: 10px;
        z-index: 80;
        cursor: pointer;
    }
    #next {
        left: unset;
        right: 10px;
    }

    .offers-container > p {
        font-size: 0.8rem;
    }

    #partners h2 {
        margin: 1rem auto;
    }

    .foglalas p {
        font-size: 0.7rem;
    }

    .footer-left {
        font-size: 0.5rem;
        display: flex;
        align-items: center;
    }

    .footer-left h3 {
        font-size: 0.9rem;
    }

    .footer-right {
        display: none;
    }

    #connect > p {
        font-size: 0.6rem;
    }
}
